<!DOCTYPE html>
<html>
<head>
    <title>Home Page | List of Providers</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <h2>List of Providers</h2>
    <% (0..Provider.count).each do |i| %>
        <p><%= i.fName + " " + i.lName %></p>
    
    <% yield %>
</body>
</html>